# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
.vs/
.vscode/
*.sln
*.VC.db
*.opensdf
*.sdf
*.opendb
*.user
*.userosscache
*.sln.docstates
*.VC.opendb
*.xcodeproj
*.xcworkspace

# Rider / JetBrains
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
